<br />
<div class="alert alert-danger" role="alert" *ngIf="possuiErro">
    Erro obtendo dados. Tente novamente.
</div>
<div class="card">
    <div class="card-header bg-success text-white">
        Selecione a moeda a ser convertida
    </div>
    <div class="card-body text-center">
        <form #conversaoForm="ngForm" class="row d-flex justify-content-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Value</label>
            </div>
            <div class="col-auto">
                <input type="text" name="valor" class="form-control text-right" placeholder="0"
                    [(ngModel)]="conversao.valor" somenteNumero required>
            </div>
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">From</label>
            </div>
            <div class="col-auto">
                <select name="moedaDe" class="form-select" [(ngModel)]="conversao.moedaDe" required>
                    <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                        {{moeda.sigla}} - {{moeda.descricao}}
                    </option>
                </select>
            </div>
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">To</label>
            </div>
            <div class="col-auto">
                <select name="moedaPara" class="form-select" [(ngModel)]="conversao.moedaPara" required>
                    <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                        {{moeda.sigla}} = {{moeda.descricao}}
                    </option>
                </select>
            </div>
            <div class="col-auto">
                <input type="submit" value="Converter" class="btn btn-success" (click)="converter()"
                    data-bs-toggle="modal" data-bs-target="#modalCotacao" [disabled]="!conversaoForm.form.valid">
            </div>
        </form>
    </div>
</div>
<modal-cotacao [id]="'modalCotacao'" [conversaoResponse]="conversaoResponse" [conversao]="conversao"
    (onConfirm)="init()">

</modal-cotacao>
